In [ ]:
#1.From the `order_items` table, find the price of the highest priced order and lowest price ord
'6735' ---the highest price
'0.85' --- the lowest price

use olist;
select price from order_items
WHERE Price = (SELECT MAX(Price) FROM order_items)
      OR Price = (SELECT MIN(Price) FROM order_items);
    
#Or use can do:
SELECT Price FROM order_items ORDER BY Price ASC limit 1; 
SELECT Price FROM order_items ORDER BY Price desc limit 1;

In [ ]:
#2. From the `order_items` table, what is range of the shipping_limit_date of the orders?
'2020-04-10(00:35:08)-----2016-09-19(02:15:34)'
select shipping_limit_date from order_items
where shipping_limit_date = (SELECT MAX(shipping_limit_date) FROM order_items)
OR shipping_limit_date = (SELECT MIN(shipping_limit_date) FROM order_items);
 #or we can do:
select min(shipping_limit_date) from order_items;
select max(shipping_limit_date) from order_items;

In [ ]:
#3. From the `customers` table, find the states with the greatest number of customers.
'greatest states with greatest number of customers:SP-99441'    

select customer_state, count(customer_id) as number from customers
order by number desc limit 1;

In [ ]:
#4. From the `customers` table, within the state with the greatest number of customers, find the cities with the greatest number of customers.
'cities with the greatest number of customers:franca:99441'

select customer_city, count(customer_id) as number from customers
order by number desc limit 1;

In [ ]:
#5. From the `closed_deals` table, how many distinct business segments are there (not including null)?
'33 business segment'

Select count(DISTINCT business_segment)
from closed_deals

In [ ]:
#6. From the `closed_deals` table, sum the declared_monthly_revenue for duplicate row values in business_segment and find the 3 business segments with the highest declared monthly revenue (of those that declared revenue).
'construction_tools_house_garden: 50695006'
'phone_mobile', '8000000'
'home_decor', '710000'

select business_segment, sum(declared_monthly_revenue) from closed_deals
group by business_segment order by sum(declared_monthly_revenue) desc limit 3;

In [ ]:
#7. From the `order_reviews` table, find the total number of distinct review score values.
'total number of distinct review score values: 15'

select sum(distinct review_score) from order_reviews;

In [ ]:
 #8. In the `order_reviews` table, create a new column with a description that corresponds to each number category for each review score from 1 - 5, then find the review score and category occurring most frequently in the table.
'2', '3235'
'3', '8287'
'1', '11858'
'4', '19200'
'5', '57420'

ALTER TABLE order_reviews
ADD review_category varchar(255);

SELECT * FROM order_reviews;

SET SQL_SAFE_UPDATES = 0;

UPDATE order_reviews
SET review_category = "VERY BAD"
WHERE review_score = 1;

UPDATE order_reviews
SET review_category = "BAD"
WHERE review_score = 2;

UPDATE order_reviews
SET review_category = "AVERAGE"
WHERE review_score = 3;

UPDATE order_reviews
SET review_category = "GOOD"
WHERE review_score = 4;

UPDATE order_reviews
SET review_category = "VERY GOOD"
WHERE review_score = 5;

SET SQL_SAFE_UPDATES = 1;

SELECT * FROM order_reviews;

SELECT review_category, review_score, Count(review_id) FROM order_reviews
GROUP BY review_category, review_score
ORDER BY Count(review_id) DESC;

In [ ]:
#9. From the `order_reviews` table, find the review value occurring most frequently and how many times it occurs.
'5', '57420'

SELECT review_score, Count(review_score) FROM order_reviews
GROUP BY review_score
ORDER BY Count(review_id) DESC limit 1;